<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Books</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .my-header{
            font-size:50px;
        }
        .my-text{
            font-size:30px;
        }
    </style>
</head>

<body class="w3-content w3-blue-gray " style="max-width:1300px">
    <div class="my-header">
        <h1>BOOK LIST</h1>
    </div>
    <div class="w3-container w3-center my-text">
        <div class="w3-hover-light-gray w3-cursive" th:each="book : ${books}">
            <a style="text-decoration:none" th:href="@{/books/{id}(id=${book.getBookId()})}"
               th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
        </div>
    </div>

    <br>

    <div th:if="${pageRequest}">
        <a class="w3-button w3-hover-orange my-text" style="text-decoration:none"
           th:href="@{/books(page=${pageRequest.previousOrFirst().getPageNumber()}, books_per_page=${pageRequest.getPageSize()})}">Previous page</a>
    </div>

    <div th:if="${pageRequest}">
        <a class="w3-button w3-hover-orange my-text" style="text-decoration:none"
           th:href="@{/books(page=${books.size() < pageRequest.getPageSize()}
                                    ? ${pageRequest.getPageNumber()}
                                    : ${pageRequest.getPageNumber() + 1},
           books_per_page=${pageRequest.getPageSize()})}">Next page</a>
    </div>
</body>

<footer class="w3-right-align w3-blue-gray w3-padding-16 my-text">
    <a class="w3-button w3-hover-orange" style="text-decoration:none" href="/books/search">Search book</a>
    <a class="w3-button w3-hover-orange" style="text-decoration:none" href="/books/new">Create a book</a>
</footer>

</html>