<!DOCTYPE html>
<html lang="en">
<head>
    <title>Start page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .bgimg {
            background-color: lightsteelblue;
           /* background-image: url("../../resources/library_background.jpg");*/
            background-size: cover;
        }
    </style>
</head>

<body class="bgimg w3-display-middle">
    <span>
        <a href="/persons" class="w3-jumbo w3-text-white" style="text-decoration:none">PEOPLE</a>
    </span>
    <hr/>
    <span>
       <a href="/books" class="w3-jumbo w3-text-white" style="text-decoration:none">BOOKS</a>
    </span>
</body>

</html>


